/* IMPORTS */
/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
/* IMPORTS */
.signup {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.signup__form {
  background-color: #F3F9FB;
  border-radius: 0.5rem;
  padding: 3rem 2rem;
  row-gap: 1.5rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  width: 100%;
  background-color: #fff;
}
.signup__form-header {
  text-align: center;
  font-size: 1.5rem;
  color: #113F67;
}
.signup__form-inputs {
  background-color: #226597;
  display: grid;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  row-gap: 0.5rem;
}
.signup__form-label {
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
}
.signup__form-input {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  outline: none;
  width: 100%;
  display: none;
}
.signup__form-btn {
  background-color: #113F67;
  color: #F3F9FB;
  border-radius: 0.5rem;
  transition: 0.2s;
  cursor: pointer;
  font-size: 1.2rem;
  outline: none;
  border: none;
  padding: 0.7rem 0;
  width: 100%;
}
.signup__form-btn:hover {
  background-color: #226597;
}

.principal {
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.principal__container {
  row-gap: 4rem;
}
.principal__message {
  color: #fff;
  background-color: #3D8361;
  border-radius: 0.5rem;
  padding: 0.7rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
  margin-top: -1rem;
  cursor: default;
  margin-bottom: 3rem;
}
.principal__message-text {
  font-size: 1.1rem;
}
.principal__message-icon {
  font-size: 2.5rem;
  cursor: pointer;
}
.principal__profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}
.principal__profile-image_img {
  border-radius: 50%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.principal__profile-info {
  width: 100%;
  text-align: center;
}
.principal__profile-info p {
  font-size: 1.1rem;
}
.principal__profile-info_title {
  color: #113F67;
  margin-bottom: 0.5rem;
}
.principal__profile-info_btns {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.principal__profile-info_btns_new {
  background-color: #3D8361;
  color: #fff;
  border-radius: 0.5rem;
  transition: 0.2s;
  cursor: pointer;
  font-size: 1.2rem;
  user-select: none;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.principal__profile-info_btns_new i {
  font-size: 1.5rem;
}
.principal__contacts-empty_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}
.principal__contacts-empty_image {
  width: 100%;
}
.principal__contacts-empty_message {
  text-align: center;
  font-size: 1.1rem;
}
.principal__contacts-pagination {
  margin-top: 3rem;
}
.principal__contacts-pagination_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.principal__contacts-pagination_left, .principal__contacts-pagination_right {
  background-color: #226597;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  width: 50px;
  height: 50px;
}
.principal__contacts-pagination_left i, .principal__contacts-pagination_right i {
  font-size: 2.2rem;
}
.principal__contacts-cards {
  display: grid;
  row-gap: 1.5rem;
}
.principal__contacts-cards_card {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  background-color: #fff;
  display: grid;
  row-gap: 1rem;
}
.principal__contacts-cards_card_header {
  text-align: center;
  color: #113F67;
}
.principal__contacts-cards_card_data {
  font-size: 1.1rem;
  text-align: center;
}
.principal__contacts-cards_card_btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.principal__contacts-cards_card_btns_edit {
  background-color: #226597;
  color: #fff;
  border-radius: 0.5rem;
  transition: 0.2s;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.5rem 0.8rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  user-select: none;
  font-size: 1.1rem;
}
.principal__contacts-cards_card_btns_delete {
  background-color: #F32424;
  color: #fff;
  border-radius: 0.5rem;
  transition: 0.2s;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.5rem 0.8rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  user-select: none;
  font-size: 1.1rem;
}

.new {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.new__container {
  row-gap: 2rem;
}
.new__back-btn {
  background-color: #226597;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  border-radius: 50%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  user-select: none;
}
.new__form {
  background-color: #F3F9FB;
  border-radius: 0.5rem;
  padding: 3rem 2rem;
  row-gap: 1.5rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  width: 100%;
  background-color: #fff;
}
.new__form-header {
  text-align: center;
  font-size: 1.5rem;
  color: #113F67;
}
.new__form-inputs {
  background-color: #226597;
  display: grid;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  row-gap: 0.5rem;
}
.new__form-label {
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
}
.new__form-input {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  outline: none;
  width: 100%;
  display: none;
}
.new__form-message {
  display: none;
  text-align: center;
  color: #F32424;
  font-size: 1.1rem;
  font-weight: 500;
}
.new__form-inputs {
  border: 1px solid #113F67;
  background-color: #e6e6e6;
}
.new__form-label {
  cursor: auto;
  color: #226597;
}
.new__form-input {
  display: block;
  background-color: #e6e6e6;
}
.new__form-btn {
  background-color: #3D8361;
  color: #fff;
  border-radius: 0.5rem;
  transition: 0.2s;
  cursor: pointer;
  font-size: 1.2rem;
  outline: none;
  border: none;
  padding: 0.7rem 0;
  width: 100%;
}

.errors {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.errors__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1.5rem;
}
.errors__content-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.errors__content-image_img {
  width: 100%;
}
.errors__content-info {
  text-align: center;
}
.errors__content-info_text {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.errors__content-info_link {
  color: #113F67;
  cursor: pointer;
  font-size: 1.25rem;
  text-decoration: underline;
}

/* BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 3rem 0 0 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(180deg, #F3F9FB 53%, #113F67 0%);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* REUSABLE CLASSES */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  max-width: 968px;
}

.grid {
  display: grid;
}

.main {
  overflow-x: hidden;
  height: calc(100vh - 3rem);
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
  background-color: #F3F9FB;
}

/* NAV */
.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  font-weight: 700;
  font-size: 1.3rem;
  color: #113F67;
}
.nav__link {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  color: #113F67;
  font-size: 1.1rem;
  font-weight: 500;
}
.nav__link i {
  font-size: 1.5rem;
}

/* HOME / SIGN IN */
.home {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.home__container {
  row-gap: 4rem;
}
.home__content-container {
  text-align: center;
}
.home__content-subtitle {
  font-size: 1.3rem;
  font-weight: 300;
}
.home__content-title {
  color: #113F67;
  font-size: 1.7rem;
  margin: 0.2rem 0;
}
.home__content-desc {
  margin-bottom: 2rem;
  font-size: 1.1rem;
}
.home__content-btn {
  background-color: #113F67;
  color: #F3F9FB;
  border-radius: 0.5rem;
  transition: 0.2s;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.5rem 2.5rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
.home__content-btn:hover {
  background-color: #226597;
}
.home__form {
  background-color: #F3F9FB;
  border-radius: 0.5rem;
  padding: 3rem 2rem;
  row-gap: 1.5rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  width: 100%;
}
.home__form-header {
  text-align: center;
  font-size: 1.5rem;
  color: #113F67;
}
.home__form-inputs {
  background-color: #226597;
  display: grid;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  row-gap: 0.5rem;
}
.home__form-label {
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
}
.home__form-input {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  outline: none;
  width: 100%;
  display: none;
}
.home__form-message {
  color: #F32424;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
}
.home__form-remember {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  justify-content: flex-start;
}
.home__form-remember_input:not(:checked), .home__form-remember_input:checked {
  width: 1.3rem;
  height: 1.3rem;
}
.home__form-remember_input:not(:checked) + .home__form-remember_label, .home__form-remember_input:checked + .home__form-remember_label {
  cursor: pointer;
  font-size: 1.1rem;
}
.home__form-btn {
  background-color: #113F67;
  color: #F3F9FB;
  border-radius: 0.5rem;
  transition: 0.2s;
  cursor: pointer;
  font-size: 1.2rem;
  outline: none;
  border: none;
  padding: 0.7rem 0;
  width: 100%;
}
.home__form-btn:hover {
  background-color: #226597;
}

/* ERROR MESSAGES */
.error__message {
  color: #fff;
  background-color: #F32424;
  border-radius: 0.5rem;
  padding: 0.7rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
  margin-top: -1rem;
  cursor: default;
}
.error__message-text {
  font-size: 1.1rem;
}
.error__message-icon {
  font-size: 2.5rem;
  cursor: pointer;
}

/* SHOW FORM INPUTS STYLE */
.change-input-container {
  border: 1px solid #226597;
  background-color: #e6e6e6;
}

.show-input {
  display: block;
  background-color: #e6e6e6;
}

.change-label {
  color: #226597;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 330px) {
  .principal__contacts-cards_card_btns {
    flex-direction: column;
    row-gap: 1rem;
  }
  .principal__contacts-cards_card_btns_cont {
    width: 100%;
  }
  .principal__contacts-cards_card_btns_edit, .principal__contacts-cards_card_btns_delete {
    justify-content: center;
  }
}
@media screen and (min-width: 568px) {
  .signup__forms-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .signup__form {
    width: 70%;
  }
  .home__forms-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home__form {
    width: 70%;
  }
  .new__forms {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .new__form {
    width: 70%;
  }
  .principal__contacts-cards {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
  .principal__contacts-cards_card_btns {
    flex-direction: column;
    row-gap: 1rem;
  }
  .principal__contacts-cards_card_btns_cont {
    width: 100%;
  }
  .principal__contacts-cards_card_btns_edit, .principal__contacts-cards_card_btns_delete {
    justify-content: center;
  }
  .principal__contacts-empty_image {
    width: 60%;
  }
  .errors__content-image_img {
    width: 60%;
  }
}
@media screen and (min-width: 768px) {
  .signup__form {
    width: 55%;
  }
  .home__form {
    width: 55%;
  }
  .new__form {
    width: 55%;
  }
  .principal__contacts-empty_container {
    flex-direction: row;
  }
  .principal__contacts-empty_image {
    width: 40%;
  }
  .principal__contacts-empty_message {
    text-align: left;
  }
  .errors__content-image_img {
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  body {
    background: linear-gradient(90deg, #F3F9FB 53%, #113F67 0%);
  }
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .signup__form {
    width: 45%;
  }
  .home__container {
    grid-template-columns: auto 45%;
  }
  .home__container-cont {
    position: relative;
    top: 7rem;
    left: 2rem;
  }
  .home__container-contTwo {
    position: relative;
    top: 2rem;
  }
  .home__content-container {
    text-align: left;
  }
  .home__form {
    width: 70%;
  }
  .new__form {
    width: 45%;
  }
  .principal__contacts-cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .principal__contacts-cards_card_btns {
    flex-direction: row;
  }
  .principal__contacts-cards_card_btns_cont {
    width: auto;
  }
  .principal__contacts-empty_image {
    width: 35%;
  }
  .errors__content-image_img {
    width: 35%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1024px;
  }
}

/*# sourceMappingURL=styles.css.map */
