/* IMPORTS */
/* SIGN UP */
/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
/* IMPORTS */
.signup {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.signup__form {
  background-color: #F3F9FB;
  border-radius: 0.5rem;
  padding: 3rem 2rem;
  row-gap: 1.5rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  width: 100%;
}
.signup__form-header {
  text-align: center;
  font-size: 1.5rem;
  color: #113F67;
}
.signup__form-inputs {
  background-color: #226597;
  display: grid;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  row-gap: 0.5rem;
}
.signup__form-label {
  color: #fff;
  font-size: 1.1rem;
}
.signup__form-input {
  background-color: #226597;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  outline: none;
  width: 100%;
  color: #fff;
}
.signup__form-btn {
  background-color: #113F67;
  color: #F3F9FB;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  padding: 0.7rem 0;
  font-size: 1.2rem;
  width: 100%;
  cursor: pointer;
  transition: 0.2s;
}
.signup__form-btn:hover {
  background-color: #226597;
}

/* BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 3rem 0 0 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(180deg, #F3F9FB 53%, #113F67 0%);
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* REUSABLE CLASSES */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  max-width: 968px;
}

.grid {
  display: grid;
}

.main {
  overflow-x: hidden;
  height: calc(100vh - 3rem);
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
  background-color: #F3F9FB;
}

/* NAV */
.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  font-weight: 700;
  font-size: 1.3rem;
  color: #113F67;
}

/* HOME / SIGN IN */
.home {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.home__container {
  row-gap: 4rem;
}
.home__content-container {
  text-align: center;
}
.home__content-subtitle {
  font-size: 1.3rem;
  font-weight: 300;
}
.home__content-title {
  color: #113F67;
  font-size: 1.7rem;
  margin: 0.2rem 0;
}
.home__content-desc {
  margin-bottom: 2rem;
  font-size: 1.1rem;
}
.home__content-btn {
  background-color: #113F67;
  color: #fff;
  padding: 0.5rem 2.5rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  transition: 0.2s;
}
.home__content-btn:hover {
  background-color: #226597;
}
.home__form {
  background-color: #F3F9FB;
  border-radius: 0.5rem;
  padding: 3rem 2rem;
  row-gap: 1.5rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  width: 100%;
}
.home__form-header {
  text-align: center;
  font-size: 1.5rem;
  color: #113F67;
}
.home__form-inputs {
  background-color: #226597;
  display: grid;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  row-gap: 0.5rem;
}
.home__form-label {
  color: #fff;
  font-size: 1.1rem;
}
.home__form-input {
  background-color: #226597;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  outline: none;
  width: 100%;
  color: #fff;
}
.home__form-remember {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  justify-content: flex-start;
}
.home__form-remember_input:not(:checked), .home__form-remember_input:checked {
  width: 1.3rem;
  height: 1.3rem;
}
.home__form-remember_input:not(:checked) + .home__form-remember_label, .home__form-remember_input:checked + .home__form-remember_label {
  cursor: pointer;
  font-size: 1.1rem;
}
.home__form-btn {
  background-color: #113F67;
  color: #F3F9FB;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  padding: 0.7rem 0;
  font-size: 1.2rem;
  width: 100%;
  cursor: pointer;
  transition: 0.2s;
}
.home__form-btn:hover {
  background-color: #226597;
}

/*# sourceMappingURL=styles.css.map */
