{% extends "base.html" %}

{% block content %}
  <section class="home">
    <div class="home__container container grid">
      <div>
        <div class="home__content">
          <div class="home__content-container">
            <p class="home__content-subtitle">Welcome to</p>
            <h1 class="home__content-title">
              ContactsApp
            </h1>
            <p class="home__content-desc">
              If you want a place to save your contacts,
              <br/>
              this is the place for you!
            </p>
            <a
              href="{{ url_for('auth.signup') }}"
              class="home__content-btn"
            >
              Sign Up
            </a>
          </div>
        </div>
      </div>
      <div>
        <div class="home__forms">
          <div class="home__forms-container">
            <form action="" method="POST" class="home__form grid">
              <div class="home__form-header">
                <h3>Sign In</h3>
              </div>
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for message in messages %}
                      <div class="home__form-message">
                        {{ message }}
                      </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
              {{ form.hidden_tag() }}
              <div class="home__form-inputs" id="usernameCont">
                {{ form.username.label(class_='home__form-label', id="usernameLabel") }}
                {{ form.username(class_='home__form-input',
                                  autocomplete='off') }}
              </div>
              <div class="home__form-inputs" id="passwordCont">
                {{ form.password.label(class_='home__form-label', id="passwordLabel") }}
                {{ form.password(class_='home__form-input',
                                  autocomplete='off') }}
              </div>
              <div class="home__form-remember">
                {{ form.remember_me(class_='home__form-remember_input') }}
                {{ form.remember_me.label(class_='home__form-remember_label') }}
              </div>
              <div class="home__form-btns">
                {{ form.submit(class_='home__form-btn') }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}

