<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% if title %}
      {{ title }} - ContactsApp
    {% else %}
      ContactsApp
    {% endif %}
  </title>
  <!-- STYLES CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <header class="header">
    <nav class="nav container">
      <a class="nav__logo" href="{{ url_for('main.index') }}">
        ContactsApp
      </a>
    </nav>
  </header>
  <main class="main">
    {% block content %} {% endblock content %}
  </main>
</body>
</html>

