<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% if title %}
      {{ title }} - ContactsApp
    {% else %}
      ContactsApp
    {% endif %}
  </title>
  <!-- BOXICONS -->
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <!-- STYLES CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <!-- HEADER -->
  <header class="header">
    <!-- NAV -->
    <nav class="nav container">
      <a class="nav__logo" href="{{ url_for('main.index') }}">
        ContactsApp
      </a>
      <div class="nav__menu">
        <ul class="nav_list">
          {% if current_user.is_anonymous %}
            <li class="nav__item">
              <a class="nav__link" href="{{ url_for('auth.signup') }}">
                Sign Up
              </a>
            </li>
          {% else %}
            <li class="nav__item">
              <a class="nav__link" href="{{ url_for('auth.logout') }}">
                Logout
                <i class='bx bx-log-out'></i>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <!-- MAIN -->
  <main class="main">
    {% block content %} {% endblock content %}
  </main>

  <!-- MAIN JS -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>

