{% extends "base.html" %}

{% block content %}
  <section class="principal">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            <div class="principal__message container">
              <p class="principal__message-text">
                {{ message }}
              </p>
              <i class="bx bx-x principal__message-icon"></i>
            </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="principal__container container grid">
      <div class="principal__profile">
        <div class="principal__profile-image">
          <img
            class="principal__profile-image_img"
            src="{{ current_user.avatar() }}"
            alt="Profile photo"
          />
        </div>
        <div class="principal__profile-info">
          <h1 class="principal__profile-info_title">
            Welcome, {{ current_user.username }}!
          </h1>
          <p>Username: {{ current_user.username }}</p>
          <p>Email: {{ current_user.email }}</p>
          <div class="principal__profile-info_btns">
            <a
              href="{{ url_for('contact.new') }}"
              class="principal__profile-info_btns_new"
            >
              New contact
              <i class='bx bx-add-to-queue'></i>
            </a>
          </div>
        </div>
      </div>
      <div class="principal__contacts">
        {% if contacts|length == 0 %}
          <div class="principal__contacts-empty">
            <div class="principal__contacts-empty_container">
              <img
                class="principal__contacts-empty_image"
                src="{{ url_for('static', filename='images/empty-contacts.png') }}"
                alt="Empty contact list image"
              />
              <p class="principal__contacts-empty_message">
                Empty contact list,
                <br/>
                try adding new contacts to see the results!
              </p>
            </div>
          </div>
        {% else %}
          <div class="principal__contacts-cards">
            {% for c in contacts %}
              <div class="principal__contacts-cards_card">
                <h3 class="principal__contacts-cards_card_header">
                  Name: {{ c.contact_name }}
                </h3>
                <p class="principal__contacts-cards_card_data">
                  Phone: {{ c.contact_phonenumber }}
                </p>
                <div class="principal__contacts-cards_card_btns">
                  <div>
                    <a
                      href="{{ url_for('contact.edit', id=c.id) }}"
                      class="principal__contacts-cards_card_btns_edit"
                    >
                      Edit
                      <i class='bx bxs-edit-alt'></i>
                    </a>
                  </div>
                  <div>
                    <a
                      href="{{ url_for('contact.delete', id=c.id) }}"
                      class="principal__contacts-cards_card_btns_delete"
                    >
                      Delete
                      <i class='bx bxs-trash-alt'></i>
                    </a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="principal__contacts-pagination">
            <div class="principal__contacts-pagination_container">
              <a href="{{ prev_url or '#' }}" class="principal__contacts-pagination_left">
                <i class='bx bx-left-arrow-alt'></i>
              </a>
              <a href="{{ next_url or '#' }}" class="principal__contacts-pagination_right">
                <i class='bx bx-right-arrow-alt' ></i>
              </a>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock content %}

