/* IMPORTS */
@use 'utils/colors' as c;
@use 'utils/mixins' as m;

.signup {
  margin-top: 3rem;
  margin-bottom: 3rem;

  &__form {
    @include m.form-style(header, inputs, label, input);

    &-btn {
      @include m.btn-style(c.$primary-color, c.$light-color);
      outline: none;
      border: none;
      padding: .7rem 0;
      width: 100%;

      &:hover { background-color: c.$second-color; }
    }
  }
}

